/**   Requirements:                                               **/
/**    1. The left container takes 4/5 of the parent's width.     **/
/**    2. The right container takes 1/5 of the parent's width.    **/
/**    3. The sidebar takes 1/4 of the parent's width.            **/
/**    4. The article takes 3/4 of the parent's width.            **/
/**    5. The header takes 1/5 of the parent's height.            **/
/**    6. The footer takes 1/5 of the parent's height.            **/

.layout {
  display: flex;
  flex-direction: row; /* Arrange .left and .right side by side */
}

.left,
.right {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
}

.left {
  flex: 4; /* 4/5 of the parent's width */
  background-color: #f0f0f0;
}

.right {
  flex: 1; /* 1/5 of the parent's width */
  background-color: #d0d0d0;
}

.header,
.footer {
  height: 100px; /* 1/5 of the container's height */
  background-color: #b0b0b0;
}

.content {
  flex: 1; /* Take up the remaining space between header and footer */
  display: flex;
  flex-direction: row; /* Arrange sidebar and article side by side */
}

.sidebar {
  flex: 1; /* 1/4 of the parent's width */
  background-color: #90c0d0;
}

.article {
  flex: 3; /* 3/4 of the parent's width */
  background-color: #70a0b0;
}

.aside-1,
.aside-2,
.aside-3 {
  flex: 1; /* Divide equally */
  background-color: #50a0a0;
}
